body {
  margin: 0;
  padding: 0;
  font-family: "Solway", serif;
  background-color: #E5EDFF;
}
body .weight-normal {
  font-weight: 300;
}
body label {
  font-weight: 700;
}

.center {
  margin-left: auto;
  margin-right: auto;
}

@media (min-width: 720px) {
  .buttons-primary, .header .nav-container ul.nav-list .nav-btn-join {
    padding: 10px 30px;
    background-color: #F2EFEB;
    color: #000;
  }
  .header, .header.pages {
    color: #000;
    width: 100%;
    z-index: 333;
  }
  .header .nav-container .nav-split-container, .header.pages .nav-container .nav-split-container {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  .header .nav-container ul.nav-list, .header.pages .nav-container ul.nav-list {
    display: flex;
    height: 40px;
    margin: 0;
    padding: 0;
    align-items: center;
    justify-content: space-between;
  }
  .header .nav-container ul.nav-list li, .header.pages .nav-container ul.nav-list li {
    display: inline-flex;
  }
  .header .nav-container ul.nav-list .nav-btn-join {
    text-transform: capitalize;
  }
  .header .btn-home-service-cta {
    text-transform: uppercase;
  }
  .header .nav-split-container {
    display: flex;
  }
  .header .nav-split-container .nav-split-content {
    display: flex;
    padding: 20px 30px;
    width: 100%;
    align-items: center;
  }
  .header .nav-split-container .nav-split-content .nav-list {
    width: 500px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    color: #E5EDFF;
  }
  .header .nav-split-container .nav-split-content .nav-list .logo {
    font-size: 30px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-family: "Playfair Display SC", serif;
  }
  .header.pages {
    background-color: #252B47;
  }
  div.main-container {
    position: relative;
    width: 100%;
    display: flex;
    color: #E5EDFF;
  }
  div.main-container .main-content {
    width: 1300px;
    height: 100vh;
    margin-left: auto;
    margin-right: auto;
  }
  div.main-container .main-content .hero-container {
    display: flex;
    height: 100%;
    align-items: center;
  }
  div.main-container .main-content .hero-container .hero {
    width: 1000px;
    margin-left: auto;
    margin-right: auto;
  }
  div.main-container .main-content .hero-container .hero .title {
    font-size: 75px;
    text-align: center;
    font-family: "Playfair Display SC", serif;
  }
  div.main-container .main-content .hero-container .hero .cta-container {
    display: flex;
    justify-content: center;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content {
    display: flex;
    justify-content: center;
    padding: 15px;
    width: 450px;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .btn-home-service-cta {
    padding: 20px 30px;
    background-color: #F2EFEB;
    color: #000;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .find {
    margin-right: 10px;
  }
  div.main-container .main-content .hero-container .hero .cta-container .cta-content .offer {
    margin-left: 10px;
  }
  div.main-container .home-bg-container {
    position: absolute;
    top: -78px;
    width: 100%;
    z-index: -999;
  }
  div.main-container .home-bg-container .home-bg-content {
    display: flex;
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  div.main-container .home-bg-container .home-bg-content .home-bg-split-content {
    height: 95vh;
    width: 100%;
  }
  div.main-container .home-bg-container .home-bg-content .left {
    background-color: #252B47;
  }
  div.main-container .home-bg-container .home-bg-content .right {
    position: relative;
    background-size: cover;
    transform: scale();
  }
  div.main-container .home-bg-container .home-bg-content .right .img-home-bg-right {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: #252B47;
    background-image: url("../images/Photo - home.jpg");
    background-size: cover;
    background-clip: border-box;
    background-repeat: no-repeat;
    background-position: center;
    background-blend-mode: overlay;
  }
  section {
    width: 100%;
  }
  section .section-content {
    width: 1300px;
    margin-left: auto;
    margin-right: auto;
  }
  section .section-content .card.service {
    display: inline-block;
    text-align: center;
    margin-top: 50px;
  }
  section .section-content .card.service .card-service-title {
    margin: 10px;
    text-transform: capitalize;
    font-family: "Playfair Display SC", serif;
    font-size: 20px;
  }
  section .section-content .grid {
    display: grid;
    height: 100px;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: auto;
  }
  section .section-content .grid .card-container {
    display: flex;
    justify-content: center;
    margin-top: 20px;
  }
  section .section-content .grid .card-container .card {
    display: inline-block;
    width: auto;
    text-align: center;
  }
  section .section-content .profile-img {
    width: 200px;
    height: 200px;
  }
  section .section-content .service-img {
    width: 271px;
    height: 173px;
  }
  section .section-content .card-details {
    margin-top: 10px;
    text-align: left;
  }
}/*# sourceMappingURL=style.css.map */